/* 
Filters
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ------------------ ⬇️ grayScale() ⬇️ ---------------------- */
/* (grayScale) => Converts the image to grayscale.
- The Default State of ((grayScale) Use => %)): */

/* img {
    transition: 0.3s;
    filter: grayscale(100%);
} */

/* The Hover State of (grayScale): */

/* img:hover {
    filter: grayscale(0);
} */

/* ------------------ ⬆️ grayScale() ⬆️ ---------------------- */

/* ------------------ ⬇️ blur() ⬇️ ---------------------- */

/* The Default State of ((blur(Use => px)): */
/* img {
  transition: 0.3s;
  filter: blur(4px);
} */

/* The Hover State of (blur): */

/* img:hover {
  filter: blur(0);
} */

/* ------------------ ⬆️ blur() ⬆️ ---------------------- */

/* ------------------ ⬇️ brightness() ⬇️ ---------------------- */

/* (brightness) => Makes the image brighter or darker. 
 - The Default State of ((brightness(Use => %)): */

/* img {
  transition: 1s;
  filter: brightness(30%);
}

img:hover {
  filter: brightness(100%);
} */

/* ------------------ ⬆️ brightness() ⬆️ ---------------------- */

/* ------------------ ⬇️ opacity() ⬇️ ---------------------- */

/* (opacity) => Makes the image transparent. 
- The Default State of ((opacity(Use => %)) */

/* img {
  transition: filter 2.0s ease-in-out;
  filter: opacity(20%);
}

img:hover {
  filter: opacity(100%);
  
} */
/* --------------- ⬆️ opacity() ⬆️ --------------- */

/* --------------- ⬇️ My Experince On Brightness() ⬇️ --------------- */

/* .image-container {
  position: relative;
  display: inline-block;
} */

/* .image-container img {
  width: 100%;
  height: auto;
  filter: brightness(20%);
  transition: filter 0.6s ease-in-out;
} */

/* .image-container:hover img {
  filter: brightness(100%);
  filter: opacity(70%);
} */

/* .overlay-text {
  position: absolute;
  top: 37%;
  left: 25%;
  transform: translate(-50, -50);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
} */

/* .image-container:hover .overlay-text {
  color: black;
} */

/* --------------- ⬆️ My Experince On Brightness() ⬆️ --------------- */

/* --------------- ⬇️ My Experince On contrast() ⬇️ --------------- */
/* Increases or decreases the image's contrast. */

/* img {
  transition: 1.3s 1S;
  filter: contrast(100%);
  
} */

/* img:hover {
  filter: contrast(500%);
} */
/* --------------- ⬆️ My Experince On contrast() ⬆️ --------------- */

/* --------------- ⬇️ My Experince On drop-shadow() ⬇️ --------------- */
/* drop-shadow syntax =>
 - Horizontal Shadow | Vertical Shadow | Blur | Spread | Color */
/* img {
  transition: .5s;
  filter: drop-shadow(0 0 10px red) brightness(50%);;
} */

/* The first Effect(drop-shadow)                                 | The Second Effect (brightness) */
/* img:hover {
  filter: drop-shadow(5px 5px 20px rgb(84, 41, 192)) brightness(100%);
} */
/* --------------- ⬆️ My Experince On drop-shadow() ⬆️ --------------- */

/* --------------- ⬇️ My Experince On hue-rotate() ⬇️ --------------- */

/* The hue-rotate() => function applies a color rotation to the elements on which it is applied. */

/* img {
  transition: .3s;
  filter: hue-rotate(0);
}
img:hover {
  filter: hue-rotate(90deg);
} */
/* --------------- ⬆️ My Experince On hue-rotate() ⬆️ --------------- */

/* --------------- ⬇️ My Experince On invert() ⬇️ --------------- */

/* invert() => inverts the color samples in the input image */

/* img {
  transition: 0.3s;
  filter: invert(0);
}
img:hover {
  filter: invert(0.3);
} */
/* --------------- ⬆️ My Experince On invert() ⬆️ --------------- */

/* --------------- ⬇️ My Experince On saturate() ⬇️ --------------- */

/* saturate() => super-saturates or desaturates the input image */
/* img {
  transition: 0.3s;
  filter: saturate(1);
}
img:hover {
  filter: saturate(4);
} */
/* --------------- ⬆️ My Experince On saturate() ⬆️ --------------- */

/* --------------- ⬇️ My Experince On sepia() ⬇️ --------------- */

/* sepia() => converts the input image to sepia, giving it a warmer,
 more yellow/brown appearance */

img {
  transition: 0.3s;
  filter: sepia(0);
}
img:hover {
  filter: sepia(60%);
}
/* --------------- ⬆️ My Experince On sepia() ⬆️ --------------- */
