/* h1 {
    color: aqua;
} */

ul {
    list-style: number;
    /* display: flex; */
    color: red;
    border: 1px red solid;
    border-right: 5px blue solid;
    margin-right: 80%;
}

ul li {
    padding: 30px;
    border: 1px rgb(0, 255, 98) solid;

    
}


/* ul li a {
    text-decoration:;
    
}
 */
