* {
    font-family:Arial, Helvetica, sans-serif;
    /* margin: 0; */
}

.container {
    width: 80%;
    /* border: 2px solid rgb(40, 108, 255); */
    /* margin: 0 auto; */
}

.more_information {
    /* height: 80%; */
    border: 2px solid rgb(160, 159, 159);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.third_subject {
    margin-top: 10px;
}

/* aside {
    width: 20%;
    height: 20%;
    float: right;
    font-size: 50px;
    border: 2px solid red;
} */

.sidecontainer {
    display: grid;
    float: right;
    width: 19%;
}

.about {
    /* display: flex; */
    /* flex-direction: row; */
    /* float: right; */
    /* width: 20%; */
    height: auto;
    padding: 10px;
    /* border: 2px solid red; */
    background-color: rgb(206, 206, 206);
    text-align: center;
    margin-right:10px ;
    margin: 10;
    /* position: absolute;
    z-index: 1; */
}

.about > span {
    font-size:x-large;
}

.archive  {
    /* display:flex; */
    /* flex-direction: row; */
    /* float:right; */
    /* width: 20%;; */
    /* height: 10px; */
    margin-top: 200px;
    /* margin-left: 10px; */
    /* border: 2px solid #ff0000; */
    /* margin-right: 15px; */
    /* position:absolute;
    z-index: 1; */
    /* padding: 10px; */
    line-height: 30px;
    /* text-align: center; */
    
    /* color: aqua; */
    
}

.archive > ul {
    color: #00e1ff;
    text-decoration: underline;
    list-style-type: none;
}

.subscribe {
    text-decoration: underline;
}

.elsewhere > ul {
    color: #00e1ff;
    text-decoration: underline;
    list-style-type: none;
    line-height: 30px;
}

.Blog_title {
    text-decoration: underline;
    text-align: center;
}

.Sample_Blog_Post {
    
    font-weight: 800;
}


.date { 
    text-decoration: none;
    color: rgb(171, 171, 171);
}

.date > .name_creator {
    color: #00e1ff;
}

/* .heading {
    text-decoration: underline;
} */


.example_code_block {
    border: 2px solid rgb(171, 171, 171);
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border-radius: 15px;
    margin: 40px 0;
    width: 90px;
    height: 40px;
    background-color: transparent;
}


.older_post {
    border: 2px solid #000099;
    color: #000099;

}

.Newer_post {
    border: 2px solid gray;
    color: gray;

}

.sub_heading_paragraph {
    margin-bottom: 10px;
}

footer {
    width: 100%;
    background-color: darkgrey;
    height: 50px;
    padding-top: 0.1%;
}