.container {
    display: grid;
    height: 100%;
    width: 90%;
    /* margin: auto; */
    grid-template-columns: 250px 300px 300px;
    grid-template-rows: 100px 500px 50px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd main main main main main main main"
        "ft ft ft ft ft ft ft ft";

    /* border: 5px solid blue;
    width: 80vw;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 250px 50px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd sd main main main main main"
        "ft ft ft ft ft ft ft ft"; */

    border: 5px solid blue;
}


.box {
    /* display: flex; */
    /* flex-direction: column; */
    border: 2px solid red;
    background-color: #f8fa0d;
}

.nestedContainer {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 180px repeat(9,1fr);
    grid-template-areas:
        "pn1 pn1 pn1 pn2 pn2 pn2 pn3 pn3 pn3"
        /* "pn2 pn2 pn2 pn2 pn2 pn2 pn2 pn2" */
        /* "pn3 pn3 pn3 pn3 pn3 pn3 pn3 pn3"; */;
        column-gap: 10px;
        row-gap: 100px;
        padding: 10px;
        padding-top: 150px;

}

.panel {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    padding: 10px;
    margin: 10px;
}

.panel1 {
    grid-area: pn1;
}

.panel2 {
    grid-area: pn2;
}

.panel3 {
    grid-area: pn3;
}

.header {
    grid-area: hd;
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;
}


.footer {
    /* background-color: gray; */
    /* color: white; */
    grid-area: ft;
    background-color: rgb(156, 146, 146);
    
}


button {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    display: block;
    margin: 15px;
    margin-left: 25px;
}

.follow {
    background-color: aqua;
    text-decoration: none;
    border: 1px solid aqua;
    color: white;

}

.subscribe {
    border: 1px solid aqua;
    background-color: transparent;
}

li {
    /* list-style-type:none; */
    color: aqua;
    line-height: 40px;
}



/*  ---Experiment----- */

/* .footer_content {
    grid-area: ft;
    color: gray;
    
} */

/* .footer {
    grid-area: ft;
    
}

.sidebar {
    grid-area: sd;
    
}

.content {
    grid-area: main;
} */

/* You have to create 3 screen sizes */


/* /* @media(max-width: 320px) */



/* @media(min-width: 901px) */


/* @media(min-width: 600px) and (max-width: 900px) */

/*  ---Experiment----- */
/* footer {
    text-decoration: line-through;
} */

/*  ---Experiment----- */
/* aside {
    margin-left: 10px;
    color: aqua;
} */

/* .box {
border: 2px solid red;
background-color: yellow;
} */