/* ---------------------------- General code ---------------------------- */

.container {
    display: grid;
    /* height: 100%;
    width: 100%; */
    /* margin: auto; */
    grid-template-columns: 200px 300px 300px;
    grid-template-rows: 160px 500px 50px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    /* border: 5px solid rgb(0, 234, 255); */
}



/* ------------------------ Start of Heading Block ------------------------ */

.header {
    background-image: url('/First_Home_Work_On_Udacity/Images/download.png');
    background-repeat: no-repeat;
    /* padding: px; */
}

/* ------------------------ The end of Heading Block ------------------------ */



/* ---------------------------- Start of The Main Content Block ---------------------------- */

/* .box {
        /* display: flex; */
/* flex-direction: column; */
/* border: 2px solid red; */
/* background-color: #f8fa0d; */
/* } */


.nestedContainer {
    display: flex;
    flex-direction: column;
    /* height: 100px; */
    /* width: 80%; */
    grid-template-columns: 1fr;
    grid-template-rows: 250px repeat(8, 1fr);
    /* grid-template-areas: */
    /* "pn1 pn1 pn2 pn2 pn2 pn3 pn3 pn3"; */
    /* "pn1 pn2 pn3"; */
    /* "pn1 pn1 pn2 pn2 pn2 pn3 pn3 pn3" */
    /* "pn1 pn1 pn2 pn2 pn2 pn3 pn3 pn3"; */
    /* "pn1 pn2 pn2 pn2 pn2 pn2 pn3 pn3" 
        "pn1 pn2 pn2 pn2 pn3 pn3 pn3 pn3" */
    /* column-gap: 75px; */
    /* row-gap: 10px; */
    /* padding-left: 90px; */
    justify-content: center;
    align-items: flex-end;

    /* border: 2px solid red; */
    /* padding-top: 5%; */
}

/* .panel {
    display: flex;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
/* padding: 10px;
        margin: 10px; */
/* }  */

.images_logo {
    width: 30px;
    height: 30px;
    /* background-image: url('/First_Home_Work_On_Udacity/Images/download.png'); */
    /* background-repeat: no-repeat; */
    /* align-items: center;
    justify-content: center;
    /* padding-bottom: 0px; */
}

/* .panel1,
.panel2,
.panel3 {
    background-color: rgb(217, 222, 222);
    border-radius: 10px;
    padding: 10px;
    width: 180px;
}

.panel1 {
    grid-area: pn1;
}

.panel2 {
    grid-area: pn2;
}

.panel3 {
    grid-area: pn3;
} */

.header {
    grid-area: hd;
    /* border: 5px solid rebeccapurple; */
    /* margin-bottom: ; */
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;
}


.profile {
    width: 30%;
    /* align-items: center;
        justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* width: 40%; */

}

.profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.profile_icon {
    width: 100%;
    /* height: 300px; */
    /* justify-content: center;
        align-items: center; */
}

.profile_details {
    padding: 2px 16px;

}

.card_information {
    border: 1px solid rgb(0, 204, 255);
    /* align-items: center;
        text-align: center; */
    margin-left: 50px;
}

/* ---------------------------- End of The Main Content Block ---------------------------- */


/* ------------------------ Start of Aside Block ------------------------ */
/* .sidebar { */
/* float: left; */
/* border-right: 3px solid rgb(0, 238, 255); */
/* border: 2px solid rgb(0, 255, 55); */
/* padding-right: 20px; */

/* } */

/* --------- Start of Buttons Block ---------- */

button {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    display: block;
    margin: 15px;
    margin-left: 25px;
    /* color: aqua; */
}

.btn_follow {
    background-color: rgb(0, 204, 255);
    text-decoration: none;
    border: 1px solid rgb(0, 204, 255);
    color: white;
}

.btn_subscribe {
    border: 1px solid rgb(0, 204, 255);
    background-color: transparent;
}

/* -------------- End of Buttons Block -------------- */


/*-------- list items on Aside-------- */
li {
    /* list-style-type:none; */
    color: rgb(0, 204, 255);
    line-height: 40px;
}

/* ------------------------ End of Aside Block ------------------------ */





/* ---------------------------- Start of The Footer Block ---------------------------- */

.footer {
    /* background-color: gray; */
    /* color: white; */
    grid-area: ft;
    background-color: rgb(239, 239, 239);
    height: 100%;
    border-radius: 5px;
    padding-left: 10px;
}


/* ------------------------------- End of The Footer Block ------------------------------- */







/* You have to create 3 screen sizes */


/* /* @media(max-width: 320px) */

/* -------------------- Start of The min-width : 320px -------------------- */

@media(max-width:320px) {

    .container {
        display: grid;
        /* height: 100%; */
        /* width: 100%; */
        /* margin: auto; */
        grid-template-columns: 320px;
        grid-template-rows: 160px;
        gap: 10px;
        grid-template-areas:
            "hd "
            "main"
            "sd"
            "ft";
        /* border: 5px solid rgb(55, 0, 255); */
    }

    .sidebar {
        border-left: 3px solid rgb(0, 238, 255);
        padding-left: 10px;

    }


    .profile {
        width: 80%;
        /* align-items: center;
            justify-content: center; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /* width: 40%; */

    }



}


/* ------------------------ Start of Aside Block ------------------------ */




/* ---------------------------- End of Aside Block ---------------------------- */



/* -------------------- End of The min-width : 320px -------------------- */







/* @media(min-width: 600px) and (max-width: 900px) */

/* -------------------- Start of (min-width: 600px) and (max-width: 900px) -------------------- */

@media(min-width: 600px) and (max-width: 900px) {


    .container {
        display: grid;
        height: 100%;
        width: 100%;
        /* margin: auto; */
        grid-template-columns: 200px;
        grid-template-rows: 160px 600px 50px;

        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            " sd sd main main main main main main"
            "ft ft ft ft ft ft ft ft";
        /* border: 15px solid rgb(0, 234, 255); */
    }




    .profile {
        width: 40%;
        /* align-items: center;
            justify-content: center; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /* width: 40%; */

    }

    .sidebar {
        /* float: left; */
        border-right: 3px solid rgb(0, 238, 255);
        /* border: 2px solid rgb(0, 255, 55); */
        padding-right: 20px;

    }

}


/* ------------------------ Start of Aside Block ------------------------ */




/* ---------------------------- End of Aside Block ---------------------------- */



/* -------------------- End of (min-width: 600px) and (max-width: 900px) -------------------- */







/* @media(min-width: 901px) */

/* -------------------- Start of (min-width: 901px) -------------------- */

@media(min-width:901px) {


    .container {
        display: grid;
        height: 100%;
        width: 100%;
        /* margin: auto; */
        grid-template-columns: 200px 300px 300px;
        grid-template-rows: 160px 600px 50px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "sd main main main main main main main"
            "ft ft ft ft ft ft ft ft";
        /* border: 10px solid rgb(221, 255, 0); */
    }



    .profile {
        width: 30%;
        /* align-items: center;
            justify-content: center; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /* width: 40%; */

    }

    .sidebar {
        /* float: left; */
        border-right: 3px solid rgb(0, 238, 255);
        /* border: 2px solid rgb(0, 255, 55); */
        padding-right: 20px;

    }

}





/* -------------------- End of (min-width: 901px) -------------------- */














/* ----------------------------------------------------------------- */

/*  ----------- Experiment Code ------------ */

/* .footer_content {
    grid-area: ft;
    color: gray;
    
} */

/* .footer {
    grid-area: ft;
    
}

.sidebar {
    grid-area: sd;
    
}

.content {
    grid-area: main;
} */



/*  ---Experiment----- */
/* footer {
    text-decoration: line-through;
} */

/*  ---Experiment----- */
/* aside {
    margin-left: 10px;
    color: aqua;
} */

/* .box {
border: 2px solid red;
background-color: yellow;
} */


/* border: 5px solid blue;
    width: 80vw;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 250px 50px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd sd main main main main main"
        "ft ft ft ft ft ft ft ft"; */