* {
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0; */
}

.container {
    display: grid;
    width: 70%;
    /* border: 2px solid rgb(40, 108, 255); */
    /* margin: 0 auto; */
    padding-left: 50px;

}





/* aside {
        width: 20%;
        height: 20%;
        float: right;
        font-size: 50px;
        border: 2px solid red;
    } */


/*-------- Heading Content-------- */

.Blog_title {
    text-decoration: underline;
    text-align: center;
}

.link_to_main_page {
    margin-top: 50px;
    margin-bottom: 30px;
}

.subscribe {
    text-decoration: underline;
    /* margin-top: 50px; */
}


/* ---------------- */




/*-------- Aside Content-------- */
.about {
    /* display: flex; */
    /* flex-direction: row; */
    /* float: right; */
    /* width: 20%; */
    height: auto;
    padding: 10px;
    /* border: 2px solid red; */
    background-color: rgb(206, 206, 206);
    text-align: center;
    margin-right: 10px;
    margin: 10;
    /* position: absolute;
        z-index: 1; */
}

.sidecontainer {
    /* display: grid; */
    float: right;
    width: 19%;
    height: fit-content;
}

.about>span {
    font-size: x-large;
}

.archive {
    /* display:flex; */
    /* flex-direction: row; */
    /* float:right; */
    /* width: 20%;; */
    /* height: 10px; */
    margin-top: 100px;
    /* margin-left: 10px; */
    /* border: 2px solid #ff0000; */
    /* margin-right: 15px; */
    /* position:absolute;
        z-index: 1; */
    /* padding: 10px; */
    line-height: 30px;
    /* text-align: center; */
    /* color: aqua; */
}

.archive>ul {
    color: rgb(43, 126, 198);
    text-decoration: underline;
    list-style-type: none;
}

.elsewhere>ul {
    color: rgb(43, 126, 198);
    text-decoration: underline;
    list-style-type: none;
    line-height: 30px;
    /* margin-left: 30%; */
}

.icon {
    margin-right: 15px;
}

/* --------------------------------- */



/* ------------ Main Content------------ */


.Sample_Blog_Post {
    font-weight: 800;
    margin-left: 45px;
}


.date {
    text-decoration: none;
    color: rgb(171, 171, 171);
    margin-left: 45px;
}

.date>.name_creator {
    color: #00e1ff;
}

.heading {
    color: rgb(43, 126, 198);
}

.sub_heading {
    color: rgb(38, 169, 99);
}

.sub_heading_paragraph {
    margin-bottom: 10px;
}

.example_code_block {
    border: 2px solid rgb(171, 171, 171);
    margin-top: 10px;
    margin-bottom: 10px;
}

.more_information {
    /* height: 80%; */
    border: 2px solid rgb(160, 159, 159);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.third_subject {
    margin-top: 10px;
}

/* ------------ The Logo Block ------------ */

.images_logo {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    /* padding-left: 100px; */
    margin-left: 40%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    color: rgb(5, 169, 114);
}


/* ------------ The profile Block ------------ */
.profile {
    width: 40%;
    /* align-items: center;
    justify-content: center; */
    margin-left: 40%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* width: 40%; */
}

.profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    ;
}

.profile_icon {
    width: 100%;
    /* height: 300px; */
    /* justify-content: center;
    align-items: center; */
}

.profile_details {
    padding: 2px 16px;
}


/* ---------------------------- */




/* ------------ Buttons ------------ */

button {}

.btn_post {
    border: 2PX SOLID #000099;
    width: 100%;
    height: 100px;
    margin: 40px 5px;
    /* width:100px; */
    /* height: 50px; */
    /* display: inline; */
    padding-left: 100PX;
    padding-top: 20px;
}


.btn {
    /* display: inline-block; */
    border-radius: 15px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    margin: 10px 3px 4px 30px;
    /* padding-left: 10PX; */
    /* margin-left: 100px; */
    /* margin-bottom: 10px; */
}



.older_btn {
    /* display: inline; */
    /* width: 100px; */
    border: 2px solid #000099;
    color: white;
    background: #475b9e;
    /* margin-left: 30%; */
    /* grid-area: old; */
}

.Newer_btn {
    border: 2px solid gray;
    color: gray;
    /* margin-left: 30%; */
    /* grid-area: nwr; */
}



/* ------------ Footer Content ------------ */
footer {
    width: 100%;
    height: 10px;
    background-color: darkgrey;
    height: 50px;
    padding-top: 0.1%;
    padding-left: 50%;
    /* margin-left: ; */
    margin-top: 60px;
}