/* ⬇︎ Header block for 320px ⬇︎ */
/* ⬆︎ Header block for 320px ⬆︎ */

/* ⬇︎ Image block for 320px ⬇︎ */
/* ⬆︎ Image block for 320px ⬆︎ */

/* ⬇︎ Buttons for 320px ⬇︎ */
/* ⬆︎ Buttons for 320px ⬆︎ */

/* ⬇︎ SideBar for 320px ⬇︎ */
/* ⬆︎ SideBar for 320px ⬆︎ */

/* ⬇︎ Main Body for 320px ⬇︎ */
/* ⬆︎ Main Body for 320px ⬆︎ */

/* ⬇︎ Footer Block for 320px ⬇︎ */
/* ⬆︎ Footer Block for 320px ⬆︎ */



/* -------------- ⬇︎ Block for 320px ⬇︎ ---------------- */
@media(max-width:320px) {

    .container {
        display: grid;
        /* height: 100%; */
        width: 100%;
        /* margin: auto; */
        grid-template-columns: 320px;
        grid-template-rows: 170px 450px 400px 70px;
        gap: 10px;
        grid-template-areas:
            "hd "
            "main"
            "sd"
            "ft";
        border: 5px solid rgb(55, 0, 255);
    }

    .sidebar {
        border-left: 3px solid rgb(0, 238, 255);
        padding-left: 10px;
    }


    .profile {
        width: 65%;
        /* align-items: center;
        justify-content: center; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        /* margin-top: 15px; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /* width: 40%; */
        /* border: 2px solid red; */
    }

    .btn_container {
        display: flex;
        border: 3px solid red;
        width: fit-content;
        height: fit-content;
        margin-top: 10%;
    
    }

    /* .footer {
        background-color: gray;
    } */
    .footer > p {
        padding-top: 8%;
    }
}

/* -------------- ⬆︎ Block for 320px ⬆︎ ---------------- */



/* ----------- ⬇︎ Block for 321px To 599px ⬇︎ ------------- */
@media (min-width: 321px) and (max-width: 599px) {
    .container {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 160px 500px 470px 70px;
        grid-template-areas:
            "hd hd"
            "main main"
            "sd sd"
            "ft ft";
        border: 5px solid red;
    }


    /* ⬇︎ Main Body for 321px To 599px ⬇︎ */
    .content {
        display: flex;
        flex-direction: column;
        grid-area: main;
        border: 2px solid rgb(98, 0, 255);
        width: 100%;
        height: fit-content;
        /* background-color: rgb(98, 0, 255); */
    }

    /* ⬆︎ Main Body for 321px To 599px ⬆︎ */


    /* ⬇︎ Card for 321px To 599px ⬇︎ */
    .profile {
        width: 50%;
        /* align-items: center;
        justify-content: center; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15%;
        margin-top: 10%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /* width: 40%; */
        border: 5px solid red;
    }

    /* ⬆︎ Card for 321px To 599px ⬆︎ */

    .sidebar {
        /* display: flex; */
        /* flex-direction: column; */
        margin-left: auto;
        margin-right: auto;
        /* margin-top: 10px; */
        margin-bottom: 50px;
        /* border-top: 5px solid red; */
    }

    .btn_container {
        display: flex;
        flex-direction: row;
        /* margin-right: auto; */
        margin-left: 4%;
        margin-top: 30%;
        /* padding-top: 50%; */
    }
    .footer > p {
        padding-top: 4%;
    }

}

/* ----------- ⬆︎ Block for 321px To 599px ⬆︎ ------------- */

/* ----------- ⬇︎ Block for 600px To 900px ⬇︎ ------------- */
@media(min-width: 600px) and (max-width: 900px) {

    .container {
        display: grid;
        /* height: 100%; */
        /* width: 100%; */
        /* margin: auto; */
        grid-template-columns: 200px 300px 300px;
        grid-template-rows: 160px 600px 70px;
        grid-template-areas:
            "hd hd hd hd hd hd hd"
            "sd main main main main main main"
            "ft ft ft ft ft ft ft";
        border: 15px solid rgb(0, 55, 255);
    }

    .content {
        border: 5px solid red;
        width: fit-content;
        height: fit-content;
        /* display: grid; */
        /* flex-direction: row; */
    }

    /* ⬇︎ Card for 600px To 900px ⬇︎ */
    .profile {
        width: 40%;
        /* align-items: center;
            justify-content: center; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /* width: 40%; */
    }

    /* ⬆︎ Card for 600px To 900px ⬆︎ */


    /* ⬇︎ SideBar for 600px To 900px ⬇︎ ⬇︎ */
    .sidebar {
        float: left;
        /* width: fit-content; 
        height: fit-content; */
        border-right: 5px solid rgb(0, 238, 255);
        /* border: 5px solid rgb(0, 255, 55); */
        /* padding-right: 20px; */
    }

    /* ⬆︎ SideBar for 600px To 900px ⬆︎ */



    /* .content {
    grid-area: main;
} */


.footer > p {
    padding-top: 3%;
}

}


/* ----------- ⬆︎ Block for 600px To 900px ⬆︎ ------------- */




/* ----------- ⬇︎ Block for 901px ⬇︎ ------------- */
@media(min-width:901px) {

    .container {
        display: grid;
        height: 100%;
        width: 100%;
        /* margin: auto; */
        grid-template-columns: 200px 300px 300px;
        grid-template-rows: 160px 600px 50px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "sd main main main main main main main"
            "ft ft ft ft ft ft ft ft";
        border: 10px solid rgb(221, 255, 0);
    }

    /* ⬇︎ Card for 901px ⬇︎ */
    .profile {
        width: 30%;
        /* align-items: center;
            justify-content: center; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /* width: 40%; */
    }

    /* ⬆︎ Card for 901px ⬆︎ */


    /* ⬇︎ SideBar for 901px ⬇︎ */
    .sidebar {
        /* float: left; */
        border-right: 3px solid rgb(0, 238, 255);
        /* border: 2px solid rgb(0, 255, 55); */
        padding-right: 20px;
    }

    /* ⬆︎ SideBar for 901px ⬆︎ */

    .footer > p {
        padding-top: 1.5%;
    }
}

/* ----------- ⬆︎ Block for 901px ⬆︎ ------------- */