/* -------------- ⬇︎ Block for 320px ⬇︎ ---------------- */
@media(max-width: 320px) {
    .container {
        display: grid;
        /* height: 100%; */
        /* background-color: yellow; */
        /* border: 10px solid rgb(0, 255, 55); */
        grid-template-columns: 100%;
        grid-template-rows: 100px 250px 500px 300px 70px;
        grid-template-areas:
            "hd"
            "main"
            "btn"
            "sd"
            "ft";
    }

    /* ------- ⬇︎ Image block for 320px ⬇︎ ------- */
    .Omar_image {
        margin-left: auto;
        margin-right: auto;
        color: rgb(33, 211, 45);
    }

    .image_information {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
    }

    /* ------- ⬆︎ Image block for 320px ⬆︎ ------- */


    /* ------- ⬇︎ Buttons for 320px ⬇︎ ------- */
    .btn_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
        grid-area: btn;
    }

    .btn {
        height: 60px;
        width: 100px;
        border-radius: 15px;
        background-color: transparent;
        margin: 10px;
    }

    .Previous_btn {
        color: white;
        background: #475b9e;
    }

    .Next_btn {
        color: rgb(0, 0, 0);
    }

    /* ------- ⬆︎ Buttons for 320px ⬆︎ ------- */


    /* ⬇︎ SideBar for 320px */
    .rightsidebar {
        height: fit-content;
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5px;
        list-style-type: none;
    }

    /* ------- ⬆︎ SideBar for 320px ⬆︎ ------- */


    /* ⬇︎ Footer Block for 320px */


    /* ⬆︎ Footer Block for 320px */

}

/* -------------- ⬆︎ Block for 320px ⬆︎ ---------------- */




/* ----------- ⬇︎ Block for 321px To 599px ⬇︎ ------------- */
@media(min-width: 321px) and (max-width: 599px) {

    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 500px 300px 300px 70px;
        grid-template-areas:
            "hd hd"
            "main main"
            "btn btn"
            "sd sd"
            "ft ft";
    }

    /* ------- ⬇︎ Image block for 321px to 421px ⬇︎ ------- */
    .Omar_image {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 25px;
        color: rgb(169, 5, 79);
        width: fit-content;
        grid-area: main;
    }


    .image_information {
        width: 75%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        font-size: large;
        grid-area: main;
    }

    /* ------- ⬆︎ Image block for 321px to 421px ⬆︎ ------- */


    /* ------- ⬇︎ Buttons for 321px to 421px ⬇︎ ------- */
    .btn_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        grid-area: btn;
    }

    .btn {
        height: 60px;
        width: 100px;
        border-radius: 15px;
        background-color: transparent;
        margin: 15px;
    }

    .Previous_btn {
        color: white;
        background: #475b9e;
    }

    .Next_btn {
        color: rgb(0, 0, 0);
    }

    /* ------- ⬆︎ Buttons for 321px to 421px ⬆︎ ------- */



    /* ------- ⬇︎ SideBar for 321px to 421px ⬇︎ ------- */
    .rightsidebar {
        grid-area: sd;
        width: fit-content;
        height: fit-content;
        margin-right: auto;
        margin-left: auto;
        margin-top: -5px;
        margin-bottom: auto;
        list-style-type: none;
        text-align: center;
    }

    /* ------- ⬆︎ SideBar for 321px to 421px ⬆︎ ------- */
}

/* ----------- ⬆︎ Block for 321px To 599px ⬆︎ ------------- */



/* ----------- ⬇︎ Block for 600px To 900px ⬇︎ ------------- */
@media(min-width: 600px) and (max-width: 900px) {

    .container {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 100px 600px 70px;
        grid-template-areas:
            "hd hd hd hd hd hd"
            "main main main main sd sd"
            "ft ft ft ft ft ft";
    }


    /* ------- ⬇︎ SideBar for 600px and 900px ⬇︎ ------- */
    .rightsidebar {
        height: fit-content;
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40%;
        list-style-type: none;
    }

    /* ------- ⬆︎ SideBar for 600px and 900px ⬆︎ ------- */



    /* ------- ⬇︎ Image block for 600px and 900px ⬇︎ ------- */
    .image_details {
        display: flex;
        justify-content: space-between;
    }

    .Omar_image {
        margin-left: 40px;
        color: rgb(33, 211, 45);
    }

    .image_information {
        width: 30%;
        float: right;
        height: fit-content;
        margin-top: -150px;
        margin-right: 20%;
        margin-left: 10٪;
        text-align: left;
    }

    /* ------- ⬆︎ Image block for 600px and 900px ⬆︎ ------- */


    /* ⬇︎ ------- Buttons for 600px and 900px ⬇︎ ------- */
    .btn_container {
        display: flex;
        justify-content: space-between;
        width: fit-content;
        height: fit-content;
        margin-top: 180px;
        margin-left: auto;
        margin-right: auto;
    }


    .btn {
        border-radius: 25px;
        width: 100px;
        height: 60px;
        background-color: transparent;
        margin: 5% 5% 1% 5%;
    }


    .Previous_btn {
        color: white;
        background: #475b9e;
    }

    .Next_btn {
        color: rgb(0, 0, 0);
    }

    /* ------- ⬆︎ Buttons for 600px and 900px ⬆︎ ------- */



    /* ------- ⬇︎ Footer Block for 600px and 900px ⬇︎ ------- */
    .footer {
        background-color: rgb(209, 206, 206);
        padding-top: 25px;
        padding-left: 10%;
        grid-area: ft;
        border-radius: 5px;
    }

    /* ------- ⬆︎ Footer Block for 600px and 900px ⬆︎ ------- */
}

/* ----------- ⬆︎ Block for 600px To 900px ⬆︎ ------------- */




/* ----------- ⬇︎ Block for 901px ⬇︎ ------------- */

@media(min-width: 901px) {
    .container {
        display: grid;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "main main main main main sd sd sd"
            "btn btn btn btn btn btn btn btn"
            "ft ft ft ft ft ft ft ft";
    }


    /* ------- ⬇︎ SideBar for 901px ⬇︎ ------- */
    .rightsidebar {
        width: 20%;
        height: fit-content;
        width: fit-content;
        margin-top: 40%;
        list-style-type: none;
    }

    /* ------- ⬆︎ SideBar for 900px ⬆︎ ------- */


    /* ------- ⬇︎ Image block for 900px ⬇︎ ------- */
    .image_details {
        display: flex;
        justify-content: space-between;
    }

    .Omar_image {
        float: left;
        margin-left: 30px;
        width: fit-content;
        margin-top: 25px;
        color: rgb(5, 41, 169);
    }

    .image_information {
        width: 40%;
        float: right;
        height: fit-content;
        margin-top: 30px;
        margin-right: 20%;
        margin-left: 3%;
        font-size: large;
        grid-area: main;
        text-align: left;
    }

    /* ------- ⬆︎ Image block for 900px ⬆︎ ------- */


    /* ------- ⬇︎ Buttons for 900px ⬇︎ ------- */
    .btn_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: fit-content;
        height: fit-content;
        margin-top: 60%;
    }

    .btn {
        border-radius: 25px;
        width: 100px;
        height: 60px;
        background-color: transparent;
        margin: 1% 1% 1% 1%;
    }

    .Previous_btn {
        color: white;
        background: #475b9e;
    }

    .Next_btn {
        color: rgb(0, 0, 0);
    }

    /* ------- ⬆︎ Buttons for 900px ⬆︎ ------- */


    /* ------- ⬇︎ Footer Block for 900px ⬇︎ ------- */
    .footer {
        background-color: rgb(209, 206, 206);
        padding-top: 25px;
        border-radius: 5px;
    }

    /* ------- ⬆︎ Footer Block for 900px ⬆︎ ------- */
}

;
/* ----------- ⬆︎ Block for 901px ⬆︎ ------------- */