/* @import url('Blog_Post.css');
@import url('Blog_HomePage.css'); */



/* Type the responsive of Blog_Post here */

/* -------------------- Start of The min-width : 320px -------------------- */

@media(max-width: 320px) {

    .container {
        display: grid;
        /* width: 75%; */
        /* height: 100%; */
        /* background-color: yellow; */
        /* border: 2px solid rgb(40, 108, 255); */
        /* margin: 0 auto; */
        /* padding-left: 50px; */
        grid-template-columns: 320px;
        grid-template-rows: 100px 550px 300px 50px;
        grid-template-areas:
            "hd"
            "main"
            "sd"
            "ft";
    }

    .image_information {
        width: 250px;
        /* float: right; */
        height: fit-content;
        margin-top: 30px;
        margin-right: 20px;
        /* margin-left: auto; */
        /* border: 2px solid #990000; */
        /* font-size: large; */
        /* grid-area: img_info; */
        /* grid-area: main; */
        /* text-align: left; */
        /* border: 2px solid red; */

    }

    .rightsidebar {
        grid-area: sd;
        /* float: right; */
        /* width: 20%; */
        /* height: fit-content; */
        /* border-left: 2px solid red; */
        /* grid-area: sd; */
        /* padding-left: 50px; */
        list-style-type: none;
        padding-top: 30px;
        padding-top: 50px;
    }
}


/* ------ Start of The Image Block of (min-width: 320px) ---------- */


/* 
.image_details {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid rgb(0, 255, 13); */
/* } 

/* .Omar_image {
    /* margin-left: 50px;  */
/* float: left; */
/* margin-left: 40px; */
/* justify-content: center; */
/* align-items: center; */
/* margin-bottom: 10px; */
/* color: rgb(5, 41, 169);
    width: fit-content; */
/* border: 2px solid #000099; */
/* margin-left: 30px; */
/* grid-area: main; */
/* margin-top: 25px; */
/* } */

/* .image_information {
    width: 40%;
    float: right;
    height: fit-content;
    margin-top: 60px;
    margin-right: 400px;
    /* margin-left: 10px; */
/* border: 2px solid #990000; */
/* font-size: large; */
/* grid-area: img_info; */
/* grid-area: main; */
/* text-align: left; */
/* }

/* ------------------------ End of The Image Block of (min-width: 320px) ------------------------ */




/* --------------------------- Start of Buttons Block of (min-width: 320px) --------------------------- */
.btn_container {
    display: flex;
    justify-content: space-between;
    /* border: 5PX solid #009952; */
    width: 90px;
    margin-top: 450px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    margin: 10px 10px;
    width: 90%;
    height: 100px;
    display: inline;
    /* padding: 10%; */
    padding-top: 20px;
    grid-area: btn;
}


/* .btn {
/* border-radius: 25px;
    width: 100px;
    height: 60px;
    background-color: transparent;
    margin: 15PX; */
/* border: 2px solid rgb(255, 40, 40); */
/* padding-left: 10PX; */
/* margin-left: 100px; */
/* margin-bottom: 10px; */
/* }


/* .Previous_btn {
    /* display: inline; */
/* width: 100px; */
/* border: 2px solid #000099; */
/* color: white; */
/* background: #475b9e; */
/* margin-left: 30%; */
/* grid-area: old; */

/* } 

/* .Next_btn { */
/* border: 2px solid gray; */
/* color: rgb(0, 0, 0); */
/* margin-left: 10px; */
/* grid-area: nwr; */
/* }
/* --------------------------- End of Buttons Block of (min-width: 320px) --------------------------- */




/* ------------------ Start Footer Block of (min-width: 320px) ----------------- */
/* .footer {
    width: 50%; */
/* height: 10px;
    background-color: rgb(209, 206, 206);
    /* height: 50px; */
/* padding-top: 25px;
    padding-left: 10%; */
/* margin-left: ; */
/* margin-top: 60px; */
/* border: 2px solid rgb(40, 108, 255); */
/* margin-left: -10px !important; */
/* grid-area: ft;
    border-radius: 5px; */
/* } 
/* ------------------ End Footer Block of (min-width: 320px) ----------------- */







/* ------------------------- End of The min-width : 320px -------------------------- */


/* ----------------------- The min-width: 600px and The max-width: 900px ----------------------- */

/* @media(min-width: 600px) and (max-width: 900px) */
@media(min-width: 600px) and (max-width: 900px) {

    .container {
        display: grid;
        /* width: 75%; */
        /* height: 100%; */
        /* background-color: yellow; */
        /* border: 2px solid rgb(40, 108, 255); */
        /* margin: 0 auto; */
        /* padding-left: 50px; */
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 100px 600px 70px;
        grid-template-areas:
            "hd hd hd hd hd hd"
            "main main main main sd sd"
            "ft ft ft ft ft ft";
    }



    /* .rightsidebar {
        grid-area: sd;
    }

    .footer {
        grid-area: ft;
    }

    .content {
        grid-area: main;
        flex-direction: row;
    }

    .header {
        grid-area: hd;
    }

    .btn {
        grid-area: btn;
    } */






    .image_details {
        display: flex;
        justify-content: space-between;
        /* border: 2px solid rgb(0, 255, 13); */
    }

    .Omar_image {
        /* margin-left: 50px;  */
        float: left;
        margin-left: 40px;
        /* justify-content: center; */
        /* align-items: center; */
        /* margin-bottom: 10px; */
        color: rgb(5, 41, 169);
        width: fit-content;
        /* border: 2px solid #000099; */
        /* margin-left: 30px; */
        /* grid-area: main; */
        margin-top: 25px;
    }

    .image_information {
        width: 40%;
        float: right;
        height: fit-content;
        margin-top: 45px;
        margin-right: 50%;
        /* margin-left: 10px; */
        /* border: 2px solid #990000; */
        /* font-size: large; */
        /* grid-area: img_info; */
        /* grid-area: main; */
        text-align: left;
    }


    /* -------------------- Buttons Block of (min-width: 600px and The max-width: 900px) -------------------- */

    .btn_container {
        display: flex;
        justify-content: space-between;
        /* border: 5PX solid #009952; */
        /* width: fit-content; */
        margin-top: 460px;
        margin-left: auto;
        margin-right: auto;
        /* height: 100px; */
        /* margin: 10px 10px; */
        width: 30%;
        height: 100px;
        /* display: inline; */
        /* padding: 10%; */
        /* padding-top: 20px; */
        /* grid-area: btn; */
    }


    .btn {
        border-radius: 25px;
        width: 100px;
        height: 60px;
        background-color: transparent;
        margin: 5% 5% 1% 5%;
        /* border: 2px solid rgb(255, 40, 40); */
        /* padding-left: 10PX; */
        /* margin-left: 100px; */
        /* margin-bottom: 10px; */
    }


    .Previous_btn {
        /* display: inline; */
        /* width: 100px; */
        /* border: 2px solid #000099; */
        color: white;
        background: #475b9e;
        /* margin-left: 30%; */
        /* grid-area: old; */
    }

    .Next_btn {
        /* border: 2px solid gray; */
        color: rgb(0, 0, 0);
        /* margin-left: 10px; */
        /* grid-area: nwr; */
    }


    /* ------------------- Footer Block of The (min-width: 600px and The max-width: 900px) ------------------ */
    .footer {
        /* width: 50%; */
        /* height: 10px; */
        background-color: rgb(209, 206, 206);
        /* height: 50px; */
        padding-top: 25px;
        padding-left: 10%;
        /* margin-left: ; */
        /* margin-top: 60px; */
        /* border: 2px solid rgb(40, 108, 255); */
        /* margin-left: -10px !important; */
        grid-area: ft;
        border-radius: 5px;
    }

}



/* ----------------------My test with Min-width 321px and Max-width: 599px---------------------- */


@media(min-width:321px) and (max-width: 599px) {

    .container {
        display: grid;
        width: 75%;
        height: 100%;
        /* background-color: yellow; */
        border: 2px solid rgb(40, 108, 255);
        margin: 0 auto;
        padding-left: 50px;
        grid-template-columns: 300px;
        grid-template-rows: 100px 600px 70px;
        grid-template-areas:
            "hd hd hd hd hd"
            "main main main main"
            "sd sd sd sd sd"
            "ft ft ft ft ft";
    }

}


/* ----------------------My test with Min-width 321px and Max-width: 599px---------------------- */


    /* -------------------- The min-width : 901px-------------------- */

    /* @media(min-width: 901px) */
    /* @media(min-width:901px) {
        .container {
            display: grid;
            /* width: 75%; */
            /* height: 100%; */
            /* background-color: yellow; */
            /* border: 2px solid rgb(40, 108, 255); */
            /* margin: 0 auto; */
            /* padding-left: 50px; */
            /* grid-template-columns: 300px 300px 300px;
            grid-template-rows: 100px 600px 70px;
            grid-template-areas:
                "hd hd hd hd hd hd hd hd"
                "main main main main main main sd sd"
                "ft ft ft ft ft ft ft ft"; */
        }


        /* ------------------------ Start of The Image Block for (min-width: 901px) ------------------------ */

        /* .image_details {
            display: flex;
            justify-content: space-between;
            /* border: 2px solid rgb(0, 255, 13); */
        /* } */ */

        /* .Omar_image {
            /* margin-left: 50px;  */
            /* float: left;
            margin-left: 40px;
            /* justify-content: center; */
            /* align-items: center; */
            /* margin-bottom: 10px; */
            /* color: rgb(5, 41, 169); */
            /* width: fit-content; */
            /* border: 2px solid #000099; */
            /* margin-left: 30px; */
            /* grid-area: main; */
            /* margin-top: 25px; */ */
        /* } */ */

        /* .image_information {
            width: 40%;
            float: right;
            height: fit-content;
            margin-top: 65px;
            margin-right: 250px;
            /* margin-left: 10px; */
            /* border: 2px solid #990000; */
            /* font-size: large; */
            /* grid-area: img_info; */
            /* grid-area: main; */
            /* text-align: left; */
        /* } */ 



        /* ------------ Buttons Block of (min-width: 901px) ------------ */

        /* .btn_container {
            display: flex;
            justify-content: space-between;
            /* border: 5PX solid #009952; */
            /* width: fit-content; */
            /* margin-top: 460px;
            margin-left: auto;
            margin-right: auto; */
            /* height: 100px; */
            /* margin: 10px 10px; */
            /* width: 30%;
            height: 100px; */
            /* display: inline; */
            /* padding: 10%; */
            /* padding-top: 20px; */
            /* grid-area: btn; */
        /* } */


        /* .btn {
            border-radius: 25px;
            width: 100px;
            height: 60px;
            background-color: transparent;
            margin: 5% 5% 1% 5%;
            /* border: 2px solid rgb(255, 40, 40); */
            /* padding-left: 10PX; */
            /* margin-left: 100px; */
            /* margin-bottom: 10px; */
        }


        /* .Previous_btn {
            /* display: inline; */
            /* width: 100px; */
            /* border: 2px solid #000099;
            color: white;
            background: #475b9e;
            /* margin-left: 30%; */
            /* grid-area: old; */ 
        /* } */

        /* .Next_btn {
            /* border: 2px solid gray; */
            /* color: rgb(0, 0, 0); */
            /* margin-left: 10px; */
            /* grid-area: nwr; */
        /* }  */



        /* ------------------ Footer Block of (min-width: 901px) ----------------- */
        /* .footer {
            /* width: 50%; */
            /* height: 10px; */
            /* background-color: rgb(209, 206, 206); */
            /* height: 50px; */
            /* padding-top: 25px; */
            /* padding-left: 10%; */
            /* margin-left: ; */
            /* margin-top: 60px; */
            /* border: 2px solid rgb(40, 108, 255); */
            /* margin-left: -10px !important; */
            /* grid-area: ft; */
            /* border-radius: 5px; */
        /* } */ 


        /* TODO: finish the rest of the code here  */

        /* ---------------------------------------------- */


    /* } */








    /* The end of responsive of Blog_Post here */



    /* Type the responsive of HomePage here */



    /* The end of responsive of HomePage here */