/* setup the size of the smallest screen first */
.container {
    display: grid;
    /* width: 100%; */
    height: 90vh;
    grid-template-columns: 850px;
    grid-template-rows: 250px 1fr 1fr;
    grid-template-areas:
        "hd"
        "sd"
        "main"
        "ft";
    /* border: 1px solid red; */
}

.box {
    /* width: 250px;
    height: 150px; */
    border: 1px solid rgb(255, 0, 0);
    background: #F8FA9D;

}

.header {
    grid-area: hd;
}

.footer {
    grid-area: ft;
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;
}


/* type here the full size webpage with @media */

@media(min-width:900px) {
    .container {
        display: gird;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 250px 600px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "sd sd main main main main main main"
            "ft ft ft ft ft ft ft ft";
        border: 2px solid red;
    }
}

/* Under test */
.sidebar >  a {
    text-align: center;
}

a {
    text-align: center;
}

.link {
align-items: center;
}