

.container {
    grid-template-columns:  ;
    grid-template-rows: 100px 360px 600px 100px ;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "feat feat feat feat feat feat feat feat"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    border: 2px solid yellow;
}


.box {
    border: 1px solid red;
    background: #f8fa9d;
}

.header {
    grid-area: hd;
}

.footer {
grid-area: ft;
}

.feature {
grid-area: feat;
}

.content {
grid-area: main;
}