.container {
    display: grid;
    /* width: 100%; */
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 250px 600px 50px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd sd sd main main main main"
        "ft ft ft ft ft ft ft ft";
    border: 5px solid aquamarine;

}



.box {
    border: 2px solid red;
    background: #f9fa4d;
}

/* #one {
    grid-area: one;
} */

.header {
    grid-area: hd;
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;

}

.footer {
    grid-area: ft;
}