/* ---------------------------- General code ---------------------------- */

/* @import url(Responsive.css); */

* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}


/* ⚠️ TODO: delete the Unnecessary code before sumbitting */


/*  ------- ⬇︎ General Styling ⬇︎ ------- */
.container {
    display: grid;
    height: 100%;
    grid-template-columns: 320px;
    grid-template-rows: 100px 650px 150px 70px;
    grid-template-areas:
        "hd"
        "main"
        "btn"
        "sd"
        "ft";
}

/* ------- ⬆︎ General Styling ⬆︎ -------  */


/* ------- ⬇︎ Header block for General ⬇︎ ------- */
.header {
    background-color: #b1b8fa;
}


.Blog_title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

/* This belong to heading tag */
/* .link_to_main_page {
    margin-top: 500px;
    margin-bottom: 30px;
    border: 2px solid rgb(40, 108, 255);
 }  */

/* ------- ⬆︎ Header block for General ⬆︎ ------- */


/* ------- ⬇︎ Image block for General ⬇︎ ------- */
.image_details {
    justify-content: space-between;
}

.Omar_image {
    margin-left: 60px;
    margin-top: 25px;
    color: rgb(5, 41, 169);
    width: fit-content;
}

.image_information {
    width: 80%;
    margin-top: 30px;
    margin-left: 40px;
    text-align: left;
}

/* ------- ⬆︎ Image block for General ⬆︎ ------- */



/* ------- ⬇︎ SideBar for General ⬇︎ ------- */
.rightsidebar {
    height: fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;
}

.rightsidebar>ul {
    list-style-type: none;
}

.icon {
    padding-right: 15px;
}

.fb {
    padding-right: 5px;
}

/* ------- ⬆︎ SideBar for General ⬆︎ ------- */



/* Quick icons */

/* ⬆︎⬇︎ */

/* Quick icons */



/* ------- ⬇︎ Buttons for General ⬇︎ ------- */
.btn_container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}


.btn {
    height: 60px;
    width: 100px;
    border-radius: 15px;
    background-color: transparent;
    margin: 15px;
}


.Previous_btn {
    color: white;
    background: #475b9e;
}

.Next_btn {
    color: rgb(0, 0, 0);
}

/* ------- ⬆︎ Buttons for General ⬆︎ ------- */




/* ------- ⬇︎ Grid area names for General ⬇︎ ------- */
.rightsidebar {
    grid-area: sd;
}

.footer {
    grid-area: ft;
}

.content {
    grid-area: main;
}

.header {
    grid-area: hd;
}

.btn {
    grid-area: btn;
    margin-top: 100px;
}

/* ------- ⬆︎ Grid area names for General ⬆︎ -------  */



/* ------- ⬇︎ Main Body for General ⬇︎ ------- */
.box {
    text-align: center;
}

.back_page {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}

/* ------- ⬆︎ Main Body for General⬆︎ ------- */


/* ------- ⬇︎ Footer Block for General ⬇︎ ------- */
.footer {
    background-color: rgb(209, 206, 206);
    padding-top: 25px;
    padding-left: 10%;
    border-radius: 10px;
}

/* ------- ⬆︎ Footer Block for General ⬆︎ ------- */



/* The name of each block with Signs */

/* ⬇︎Header block for 320px */
/* ⬆︎Header block for 320px */

/* ⬇︎ Image block for 320px */
/* ⬆︎ Image block for 320px */

/* ⬇︎ Buttons for 320px */
/* ⬆︎ Buttons for 320px */

/* ⬇︎ SideBar for 320px */
/* ⬆︎ SideBar for 320px */

/* ⬇︎ Main Body for 320px */
/* ⬆︎ Main Body for 320px */

/* ⬇︎ Footer Block for 320px */
/* ⬆︎ Footer Block for 320px */

/* The name of each block with Signs */