/*
  Flexible Box
  For Parent
  - display: flex => To Start Flexible Box
  - flex-direction: row => Default Value
  - flex-wrap: nowrap => Default Value
  - flex-flow: [Flex-Direction] + [Flex-Wrap]

---------
Use it onlyâ— with FlexBox :
justify-content: flext-start => Default Value
(space-between , space-around , space-evenly): 
space-between: space between the elements 
space-around:  space around the first element to the last element
space-evenly: space between and around elements

  */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  background-color: #eee;
  width: 600px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
}

.flex div {
  background-color: #f00;
  color: white;
  /* width: 25%; */
  width: calc(98% / 3);
  text-align: center;
  padding: 20px;
}

.float {
  overflow: hidden;
  background-color: #eee;
  width: 600px;
  padding: 20px;
  margin: 20px auto;
}

.float div {
  background-color: #f00;
  color: white;
  float: right;
  /* width: 25%; */
  width: calc(98% / 3);
  text-align: center;
  padding: 20px;
}

.two {
  margin-left: 1%;
  margin-right: 1%;
}
